<p-toast />
<p-confirmPopup />
<div class="card">
  <p-editor [(ngModel)]="agreementText" [style]="{ height: '800px', width: '1000px' }"/>
</div>

<div style="padding-top: 20px; padding-right: 20px;">
  <div class="row justify-content-end">

    <div style="padding-right: 20px;">
      <p-button label="Reject" (click)="confirmDelete($event)" [outlined]="true" severity="danger" icon="pi pi-times-circle" size="small"/>
    </div>
    <div style="padding-right: 20px;">
      <p-button label="Negotiate" [outlined]="true" (click)="showNegotiate()" icon="pi pi-pen-to-square" size="small"/>
    </div>
    <p-button label="Confirm" [outlined]="true" severity="success" (click)="confirm()" icon="pi pi-check" size="small"/>

  </div>
</div>
