<!--
<p-panel header="Search Flight" [toggleable]="true">

  <div class="row">
    <div class="col-sm">

      <div class="gap-2 p-fluid">
        <div class="flex-auto">
          <label for="origin">Origin</label>
          <input
            pInputText
            disabled
            id="origin"
            [(ngModel)]="origin"/>
        </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="gap-2 p-fluid">
        <div class="flex-auto">
          <label for="destination">Destination</label>
          <input
            pInputText
            disabled
            id="destination"
            [(ngModel)]="destination"/>
        </div>
      </div>

    </div>

    <div class="col-sm">
      <div class="gap-2 p-fluid">
        <div class="flex-auto">
          <label for="date">Flight Date</label>
          <p-calendar
            [(ngModel)]="date"
            [iconDisplay]="'input'"
            [showIcon]="true"
            id="date"
            disabled
            inputId="icondisplay" />
        </div>
      </div>
    </div>
  </div>

</p-panel>-->

<div class="card flex justify-content-center">
  <p-toast
    position="center"
    key="confirm"
    (onClose)="onReject()"
    [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="flex flex-column align-items-start" style="flex: 1">
        <div class="flex align-items-center gap-2">
          <span class="font-bold text-900">  ABC12345
                        </span>
        </div>
        <div class="font-medium text-lg my-3 text-900">
          {{ message.summary }}
        </div>
        <p-button size="small" label="OK" (onClick)="onConfirm()" />
      </div>
    </ng-template>
  </p-toast>
</div>

<div style="text-align: center">
  <h3>HKG-SCL  -  06.10.2024  -  GEN  -  500 KG</h3>
</div>

<p-table [value]="flightOptions" [tableStyle]="{'min-width': '60rem'}" [styleClass]="'p-datatable-sm'">
  <ng-template pTemplate="caption">
    <div class="row justify-content-md-center">
      <p-button label="Fastest" severity="warning" icon="pi pi-sort-amount-down-alt" [outlined]="true"/>
      <div style="padding-left: 10px">
        <p-button label="Cheapest" icon="pi pi-sort-amount-down-alt" [outlined]="true"/>
      </div>
      <div style="padding-left: 10px">
        <p-button label="EcoFly" severity="success" icon="pi pi-sort-amount-down-alt" [outlined]="true"/>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Route Details</th>
      <th>Unit Rate</th>
      <th>Total Price</th>
      <th>Flight Date</th>
      <th>Flight Duration</th>
      <th>CO2 Emission</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td><img [src]="product.src" [alt]="product.name" height="100" class="shadow-4" /></td>
      <td>{{product.rate | currency:'USD'}}</td>
      <td>{{product.price | currency:'USD'}}</td>
      <td>{{product.date}}</td>
      <td>{{product.duration}}</td>
      <td><p-rating [(ngModel)]="product.emission" [readonly]="true" [cancel]="false" /></td>
<!--      <td><p-tag [value]="product.price" [severity]="getSeverity(product)" /></td>-->
      <td><p-button label="Book Now" (click)="showConfirm()" [outlined]="true"  icon="pi pi-check-circle" size="small"/></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{flightOptions ? flightOptions.length : 0 }} flights.
    </div>
  </ng-template>
</p-table>
