<p-card header="Booking Status">
  <p-steps
    [model]="steps"
    [activeIndex]="active"/>
</p-card>

<p-divider></p-divider>

<p-card header="Booking History">

  <p-table [value]="historyList" [tableStyle]="{'min-width': '50rem'}" [styleClass]="'p-datatable-sm'">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Step </th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-history let-columns="columns">
      <tr>
        <td>
          {{history.step}}
        </td>
        <td>
          {{history.date}}
        </td>
        <td>
          <p-tag [value]="history.status" [severity]="getSeverity(history.status)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

</p-card>


